<div class="container">
    <div class="row g-0 h-100 ">
        <div class="col-lg-6 d-flex">
            <div class="content mx-auto align-self-center my-5">
                <h2 class="display-6 fw-bold mb-4">No volveras a llevar tus botellas al contenedor </h2>
                <p class="lead mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quia in magnam odit quae nulla praesentium ipsam modi. Nisi autem, nostrum tenetur corrupti est voluptates aliquam deleniti libero ipsam doloribus.
                </p>
                <a href="https://www.ecovidrio.es/"> Descubre mas de esta propuesta</a>
            </div>
        </div>
        <div class="col-lg-6 d-flex">
            <div class="content mx-auto align-self-center px-4 my-5">
                <img src="assets/img/vidrio.jpeg" class="img-fluid" alt="vidrio">
            </div>
        </div>
    </div>
</div>