<div class="container">
    <div class="card text-center">
        <div class="card-body p-4 text-center">

            <form class="example-form" [formGroup]="formRegister">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Name/Nickname</mat-label>
                    <input type="text" matInput formControlName="name">
                    <mat-error *ngIf="name.hasError('required')">
                        Dinos como te gustaria que te llamaramos
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
                    <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="email.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>password</mat-label>
                    <input type="password" matInput formControlName="password">
                    <mat-error *ngIf="password.hasError('password') && !password.hasError('required')">
                        Please enter a 6 caracthers password
                    </mat-error>
                    <mat-error *ngIf="password.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>


                <label for="terms" class="m-2"> Acepto que cuiden de mis datos</label>
                <input type="checkbox" id="terms" formControlName="terms">
                <mat-error *ngIf="terms.hasError('requiredTrue')">
                    Please check! te cuidaremos :)
                </mat-error>


                <div>
                    <button class="btn btn-success btn-block m-2" (click)="signUp()">Ser parte</button>
                </div>
            </form>
        </div>
    </div>