.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

a {
    cursor: pointer;
}

a:hover {
    color: info;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}