<div class="container" *ngFor="let material of info">
    <div class="row g-0 h-100 ">
        <div class="col-lg-6 d-flex ">
            <div class="content  align-self-center px-2 my-2">
                <img src="{{material.img}}" class="img-fluid" alt="organicos">
            </div>
        </div>
        <div class="col-lg-6 d-flex">
            <div class="content align-self-center px-4">
                <h2 class="display-6 fw-bold mb-4">{{material.title}}</h2>
                <p class="lead mb-4">{{material.description}}
                </p>
                <a href="{{material.link}}">{{material.linkText}}</a>
            </div>
        </div>
    </div>