<div class="container">
    <div class="row g-0 h-100 ">
        <div class="col-lg-6 d-flex">
            <div class="content mx-auto align-self-center my-5">
                <h2 class="display-6 fw-bold mb-4">DIY ! Repara o dona electrodomesticos </h2>
                <p class="lead mb-4">Puedes darle una segunda vida a eso que creias que ya no iba mas! (estamos hablando de electrodomesticos jeje) aprende a repapar o deja que alguien mas lo haga
                </p>
                <a href="http://www.millorquenou.cat/"> Conoce Millor que nou hay talleres varios!</a>
            </div>
        </div>
        <div class="col-lg-6 d-flex">
            <div class="content mx-auto align-self-center px-4 my-5">
                <img src="/assets/img/reparacio_electrodomesticos.jpg" class="img-fluid" alt="electrodomesticos">
            </div>
        </div>
    </div>
</div>