<div class="container">
    <div class="row g-0 h-100 ">
        <div class="col-lg-6 d-flex ">
            <div class="content  align-self-center px-2 my-2">
                <img src="/assets/img/Barcelona-Vector-Map.jpg" class="img-fluid" alt="map">
            </div>
        </div>
        <div class="col-lg-6 d-flex">
            <div class="content align-self-center px-4">
                <h2 class="fw-bold mb-4">Conoce lo que sucede en tu zona! </h2>
                <p class="lead mb-4">En tu barrio, en tu ciudad, a tu alrededor hay muchas personas que estan pensando en darle un nuevo uso a materiales que a priori serian desechados, te acercamos a estas propuestas para que las conozcas y si quieres... tambien seas parte!
                </p>
                <div class="formulario__grupo-input">
                    <form class="d-flex" id="formulario">
                        <input class="formulario__input  border border-secondary  flex-grow-1 me-2" name="buscar" id="buscar" type="search" placeholder="Escribe una zona de busqueda" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Descubre</button>
                    </form>
                </div>

            </div>
        </div>
    </div>