<div class="container">
    <div class="row g-0 h-100 ">
        <div class="col-lg-6 d-flex mapa">
            <img src="/assets/img/Barcelona-Vector-Map.jpg">
        </div>
        <div class="col-lg-6 d-flex">
            <div class="content mx-auto align-self-center px-4">
                <h2 class="fw-bold mb-4">Conoce lo que sucede en tu zona! </h2>
                <p class="lead mb-4">En tu barrio, en tu ciudad, a tu alrededor hay muchas personas que estan pensando en darle un nuevo uso a materiales que a priori serian desechados, te acercamos a estas propuestas para que las conozcas y si quieres... tambien seas parte!
                </p>
                <div class="formulario__grupo-input">
                    <form class="d-flex" id="formulario">
                        <input class="formulario__input  border border-secondary me-2" name="buscar" id="buscar" type="search" placeholder="Escribe una zona de busqueda" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Descubre</button>
                    </form>
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">Escribe al menos 3 letras
                </p>
            </div>
        </div>

    </div>
</div>