<div class="container">
    <div class="row g-0 h-100 ">
        <div class="col-lg-6 d-flex ">
            <div class="content  align-self-center px-2 my-2">
                <img src="/assets/img/organic.jpg" class="img-fluid" alt="organicos">
            </div>
        </div>
        <div class="col-lg-6 d-flex">
            <div class="content align-self-center px-4">
                <h2 class="display-6 fw-bold mb-4">Residuos organicos, residuos diarios</h2>
                <p class="lead mb-4">Cada dia en cada casa generamos residuos organicos, te contamos donde puede llevar o que puedes hacer con los restos orgánicos de la cocina: restos de frutas y verduras, cáscaras de huevo, borra de café, té y sus saquitos.
                </p>
                <a href="https://www.abonokm0.com/">Conoce Abono km 0, una propuesta genial</a>
            </div>
        </div>
    </div>