<div class="container">
    <div class="row g-0 h-100 ">
        <div class="col-lg-6 d-flex ">
            <div class="content  align-self-center px-2 my-2">
                <img src="/assets/img/plastic.jpg" class="img-fluid" alt="Plasticos">
            </div>
        </div>
        <div class="col-lg-6 d-flex">
            <div class="content align-self-center px-4">
                <h2 class="display-6 fw-bold mb-4">Plasticos: el peor enemigo del planeta </h2>
                <p class="lead mb-4">En tu barrio, en tu ciudad, a tu alrededor hay muchas personas que estan pensando en darle un nuevo uso a materiales que a priori serian desechados, te acercamos a estas propuestas para que las conozcas y si quieres... tambien seas parte!
                </p>
                <a href="https://vaciadosbarcelona.com/ongs-tapones-de-plastico-en-barcelona/">Conoce donde puedes reciclarlos en Barcelona</a>
            </div>
        </div>
    </div>