<div class="container">
    <div class="row g-0 h-100 ">
        <div class="col-lg-6 d-flex">
            <div class="content mx-auto align-self-center my-5">
                <h1 class="display-4 fw-bold mb-4">Nos encanta verte por aqui </h1>
                <p class="lead mb-4">Somos un equipo multidisciplinar que trabajamos para que los residuos encuentren los mejores destinos, a la vez generar comunidad y conciencia sobre el consumo de productos diarios.
                </p>
            </div>
        </div>
        <div class="col-lg-6 d-flex">
            <div class="content mx-auto align-self-center px-4 my-5">
                <img src="./assets/img ilustraciones/blog.svg" class="img-fluid" alt="together">
            </div>
        </div>
    </div>
</div>